.cell-item {
    display: block;
    background-color: var(--color-black);
    cursor: pointer;
    border: .5px solid var(--color-grey-light-1);
    width: var(--cell-size);
    height: var(--cell-size);
    transition: all .5s;

    &:hover,
    &--selected {
        background-color: var(--color-yellow);
    }

    &--alive {
        animation: age 2s ease-out;
        background-color: var(--color-red);
    }
}