.checkbox {
    background-color: var(--color-grey-light-2);
    border: 2px solid var(--color-grey-light-1);
    box-sizing: content-box;
    cursor: pointer;
    width:  3rem;
    height: 2rem;
    border-radius: 2rem;
    position: relative;
    transition: all .3s ease;
    margin: var(--s-size) var(--m-size);

    @include tooltip('ON/OFF');

    &__input {
        display: none;
    }

    &__check {
        background-color: var(--color-black);
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        transition: all .3s ease, background-color .5s ease-in;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__input[type=checkbox]:checked + .checkbox__check {
        background-color: var(--color-yellow);
        left: 100%;
        transform: translateX(-100%);
    }
}