.dropdown {
    background-color: var(--color-black);
    color: white;
    border: 1px solid grey;
    font-size: var(--font-medium);
    text-align: center;
    position: relative;
    z-index: 1;
    width: 60px;
    margin-left: 5px;

    @include tooltip('resize');

    &__selected {
        padding: 5px 8px;
        margin: 0;
    }

    &__items {
        background-color: inherit;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    &__item {
        padding: 5px 8px;
        margin: 0;

        &:hover {
            background-color: var(--color-grey-light-2);
            cursor: default;
        }
    }

    &:hover .dropdown__items {
        display: block;
    }
}