.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: var(--bg-largest);
    min-height: 100vh;
    margin: 0 auto;

    &__board {
        display: flex;
        flex-direction: column;
    }
}
