.footer {
    width: 100%;
    text-align: center;
    font-size: var(--font-medium);
    margin-bottom: var(--m-size);

    &__logo {
        display: block;
        width: var(--l-size);
        height: var(--l-size);
        margin: 0 auto;
    }

    &__text {
        padding: var(--s-size);
    }

    &__link:link,
    &__link:visited, {
        font-weight: 600;
        text-decoration: none;
        text-transform: capitalize;
    }

    &__copy {
        display: block;
    }
}